<p class="skills-label">Languages</p>
<ul class="skills-list">
    <li><i class="devicon-python-plain"></i>Python</li>
    <li><i class="devicon-cplusplus-plain"></i>C++</li>
    <li><i class="devicon-html5-plain"></i>HTML5</li>
    <li><i class="devicon-css3-plain"></i>CSS3</li>
    <li><i class="devicon-javascript-plain"></i>JavaScript</li>
    <li><i class="devicon-azuresqldatabase-plain"></i>SQL</li>
    <li><i class="devicon-php-plain"></i>PHP</li>
    <li><i class="devicon-rust-original"></i>Rust</li>
</ul>

<div class="divider"></div>

<p class="skills-label">Frameworks & Libraries</p>
<ul class="skills-list">
    <li><i class="devicon-flask-original"></i>Flask</li>
    <li><i class="devicon-scikitlearn-plain"></i>scikit-learn</li>
    <li><i class="devicon-opencv-plain"></i>OpenCV</li>
    <li><i class="devicon-numpy-plain"></i>NumPy</li>
    <li><i class="devicon-pandas-plain"></i>Pandas</li>
    <li><i class="devicon-matplotlib-plain"></i>Matplotlib</li>
</ul>

<div class="divider"></div>

<p class="skills-label">Tools & Platforms</p>
<ul class="skills-list">
    <li><i class="devicon-raspberrypi-plain"></i>Raspberry Pi</li>
    <li><i class="devicon-docker-plain"></i>Docker</li>
    <li><i class="devicon-amazonwebservices-plain-wordmark"></i>AWS</li>
    <li><img src="https://cdn.simpleicons.org/sst/8c8c8c" alt="">SST</li>
    <li><i class="devicon-git-plain"></i>Git</li>
    <li><i class="devicon-mysql-original"></i>MySQL</li>
    <li><img src="https://cdn.simpleicons.org/zigbee2mqtt/8c8c8c" alt="">Zigbee2MQTT</li>
    <li><img src="https://cdn.simpleicons.org/mqtt/8c8c8c" alt="">MQTT</li>
</ul>

<div class="divider"></div>

<p class="skills-label">Concepts</p>
<p class="skills-desc">
    Object-oriented design, Machine learning, Distributed systems, Computer networks,
    IoT & Embedded systems, Image processing
</p>